doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' type='text/css' href='../../styles.css')
    script(src="../../hotel.js" defer)
    title Document
  body
    header
      .banner
        .container-row
            span(class="heading-text" style="width:79%")  JavaScript Hotels
            a(href="../../" style="color: rgba(23, 31, 43) !important; font-weight: bolder; font-size: 20px;")
              img(src="https://bit.ly/3aBq2Cy", align="right" height="30px", alt="Home")

    div
    .jumbo
        .container-row-1 
            h4(class="blue-me") Hotel <hr> <span style="color:white;"> #{data.hotelName}</span> <hr> 
            h4(class="blue-me") Address <hr> <span style="color:white;"> #{data.street}, <br> #{data.city} #{data.state} </span> <hr>
            h4(class="blue-me") Phone # <hr> <span style="color:white;"> #{data.phoneNumber} </span> <hr>
            h4(class="blue-me") Available Rooms <hr> <span style="color:white;">  <img src="https://bit.ly/3cDwmer" height="10px;"> <span id="all_available_text"></span> <br> </span> <hr>

    div(id="display_room_overview")
        

    
    footer(class="footer")
        span &copy; 2020 Recursive Scripters

